In [8]:
import numpy as np
import pandas as pd
import sklearn

hotel_book= pd.read_csv('hotel_bookings.csv')
hotel_book

# hotel_book.head(5)
# hotel_book.tail(5)
# hotel_book.sample(5)
# hotel_book.describe()

hotel_book.isnull()
hotel_book.isnull().any()


#Find the number of null values in each column of the new DataFrame
hotel_book.isnull().sum()
hotel_book=hotel_book.drop(['company','agent'],axis=1)



#Replace the null values with mode
hotel_book=hotel_book.fillna(hotel_book['country'].value_counts().index[0])

hotel_book.isnull().sum()


# In the "hotel" column, replace the hotel names with "0" and "1" based on the condition that
# â€“ if, "hotel" = "city_hotel", then "hotel" = "1"; else, "0"
hotel_book['hotel']=np.where(hotel_book['hotel'].str.contains('City Hotel'),1,0)

hotel_book.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
3478,0,1,93,2015,December,51,19,0,1,2,...,A,0,Non Refund,0,Transient,80.00,0,0,Canceled,2015-11-09
88659,1,0,2,2016,May,20,9,1,0,2,...,A,0,No Deposit,0,Transient,89.00,0,2,Check-Out,2016-05-10
30263,0,0,2,2016,November,47,18,0,2,2,...,D,0,No Deposit,0,Transient,73.80,0,2,Check-Out,2016-11-20
115560,1,0,73,2017,July,27,6,0,2,2,...,D,0,No Deposit,0,Transient,120.00,0,1,Check-Out,2017-07-08
54017,1,1,11,2016,July,28,5,2,6,1,...,A,0,No Deposit,0,Transient,145.00,0,0,No-Show,2016-07-05
94753,1,0,8,2016,August,33,8,1,0,2,...,A,0,No Deposit,0,Transient,171.00,0,1,Check-Out,2016-08-09
60286,1,1,626,2016,November,46,7,1,2,2,...,A,0,Non Refund,0,Transient,62.80,0,0,Canceled,2016-09-26
92181,1,0,132,2016,June,27,28,0,4,2,...,A,0,No Deposit,0,Transient,90.95,0,0,Check-Out,2016-07-02
84138,1,0,99,2016,February,8,19,0,1,1,...,A,0,No Deposit,0,Transient-Party,81.00,0,0,Check-Out,2016-02-20
13579,0,1,60,2017,August,34,20,4,7,2,...,E,0,No Deposit,0,Transient,255.45,0,3,Canceled,2017-07-05

In [9]:

# Using the label encoder, assign a unique country code to each country
from sklearn.preprocessing import LabelEncoder
# LE=LabelEncoder()
# hotel_book['country code']=LE.fit_transform(hotel_book['country'])
# hotel_book

In [13]:
LE=LabelEncoder()

In [14]:


hotel_book['country code']=LE.fit_transform(hotel_book['country'])
hotel_book

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,country code
0,0,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,135
1,0,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,135
2,0,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,59
3,0,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,59
4,0,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06,15
119386,1,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07,56
119387,1,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07,43
119388,1,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07,59
119389,1,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07,43

In [30]:
from sklearn.preprocessing  import OneHotEncoder 
OHE=OneHotEncoder()

OHE = OneHotEncoder(sparse_output=False, dtype=None)
# month_encoded = OHE.fit_transform(hotel_book[['arrival_date_month']])
hotel_book['month']=OHE.fit_transform(hotel_book[['arrival_date_month']])
# hotel_book.sample(20)

ValueError: Columns must be same length as key

In [32]:
# Initialize the encoder
OHE = OneHotEncoder(sparse_output=False, drop=None)

In [33]:

# Reshape to 2D and encode
month_encoded = OHE.fit_transform(hotel_book[['arrival_date_month']])

In [34]:
# Create DataFrame with proper column names
month_df = pd.DataFrame(month_encoded, 
                       columns=OHE.get_feature_names_out(['arrival_date_month']))

In [35]:
# Merge with original data
hotel_book = pd.concat([hotel_book.drop('arrival_date_month', axis=1), month_df], axis=1)

In [37]:


# Initialize encoder
OHE = OneHotEncoder(sparse_output=False,drop=None)

# 1. Convert to NumPy array and reshape
month_array = hotel_book['arrival_date_month'].to_numpy().reshape(-1, 1)

# 2. Fit and transform
month_encoded = OHE.fit_transform(month_array)

# 3. Create DataFrame with proper names
month_df = pd.DataFrame(month_encoded,
                       columns=OHE.get_feature_names_out(['arrival_date_month']))

# 4. Align indexes
month_df.index = hotel_book.index

# 5. Replace original column
hotel_book = pd.concat([hotel_book.drop('arrival_date_month', axis=1), month_df], axis=1)

KeyError: 'arrival_date_month'

In [39]:
print(hotel_book.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'country code',
       'arrival_date_month_April', 'arrival_date_month_August',
       'arrival_date_month_December', 'arrival_date_month_February',
       'arrival_date_month_January', 'arrival_date_month_July',
       'arrival_date_month_June', 'arrival_date_month_March',
       'arrival_date_month_May', 'arrival_date_month_November',
       'arrival_date_month_October', 'arrival_date_month_September'],
      dtype='object')

In [40]:
# Use the correct column name you found in step 1
month_array = hotel_book['arrival_date_month'].to_numpy().reshape(-1, 1)

KeyError: 'arrival_date_month'

In [42]:

# USING get_dummies()

hotel_book=pd.DataFrame(hotel_book)
hotel_book
hotel_book = pd.get_dummies(hotel_book, columns=['distribution_channel'], prefix='month', drop_first=False)
print(hotel_book)

        hotel  is_canceled  lead_time  arrival_date_year  \
0           0            0        342               2015
1           0            0        737               2015
2           0            0          7               2015
3           0            0         13               2015
4           0            0         14               2015
...       ...          ...        ...                ...
119385      1            0         23               2017
119386      1            0        102               2017
119387      1            0         34               2017
119388      1            0        109               2017
119389      1            0        205               2017

        arrival_date_week_number  arrival_date_day_of_month  \
0                             27                          1
1                             27                          1
2                             27                          1
3                             27                          1
4                             27                          1
...                          ...                        ...
119385                        35                         30
119386                        35                         31
119387                        35                         31
119388                        35                         31
119389                        35                         29

        stays_in_weekend_nights  stays_in_week_nights  adults children  ...  \
0                             0                     0       2      0.0  ...
1                             0                     0       2      0.0  ...
2                             0                     1       1      0.0  ...
3                             0                     1       1      0.0  ...
4                             0                     2       2      0.0  ...
...                         ...                   ...     ...      ...  ...
119385                        2                     5       2      0.0  ...
119386                        2                     5       3      0.0  ...
119387                        2                     5       2      0.0  ...
119388                        2                     5       2      0.0  ...
119389                        2                     7       2      0.0  ...

        arrival_date_month_March arrival_date_month_May  \
0                            0.0                    0.0
1                            0.0                    0.0
2                            0.0                    0.0
3                            0.0                    0.0
4                            0.0                    0.0
...                          ...                    ...
119385                       0.0                    0.0
119386                       0.0                    0.0
119387                       0.0                    0.0
119388                       0.0                    0.0
119389                       0.0                    0.0

       arrival_date_month_November arrival_date_month_October  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              0.0                        0.0
4                              0.0                        0.0
...                            ...                        ...
119385                         0.0                        0.0
119386                         0.0                        0.0
119387                         0.0                        0.0
119388                         0.0                        0.0
119389                         0.0                        0.0

        arrival_date_month_September  month_Corporate  month_Direct month_GDS  \
0                                0.0            False          True     False
1                                0.0            False          True     False
2                                0.0            False          True     False
3                                0.0             True         False     False
4                                0.0            False         False     False
...                              ...              ...           ...       ...
119385                           0.0            False         False     False
119386                           0.0            False         False     False
119387                           0.0            False         False     False
119388                           0.0            False         False     False
119389                           0.0            False         False     False

       month_TA/TO  month_Undefined
0            False            False
1            False            False
2            False            False
3            False            False
4             True            False
...            ...              ...
119385        True            False
119386        True            False
119387        True            False
119388        True            False
119389        True            False

[119390 rows x 46 columns]

In [ ]:

# USING get_dummies()

hotel_book=pd.DataFrame(hotel_book)
hotel_book
hotel_book = pd.get_dummies(hotel_book, columns=['arrival_date_month'], prefix='month', drop_first=False)
print(hotel_book)